.baz {
    margin: 0;
}

.baz {
    padding: 0;
}

.baz table {
    border: 0;
}

.baz .bar {
    background: #000;
    color: #fff;
}

@media (max-width: 480px) {
    .baz ul {
        padding-left: 0;
    }
}